<div class="lui-modal-background"></div>
<div class="lui-dialog centerpoint">
    <div class="lui-dialog__header">
        <div class="lui-dialog__title">Select Salesforce Server</div>
    </div>
    <div class="lui-dialog__body">
        <h3>Name:</h3>
        <input class="lui-input lui-input--large" ng-model="connectorName" ng-change="nameChange()"></input>
        <br/>
        <label class="lui-radiobutton">
            <input class="lui-radiobutton__input" type="radio" ng-model="radioButtonValue" value="production">
            <div class="lui-radiobutton__radio-wrap">
                <span class="lui-radiobutton__radio"></span>
                <span class="lui-radiobutton__radio-text">Use Production</span>
            </div>
        </label>
        <label class="lui-radiobutton">
            <input class="lui-radiobutton__input" type="radio" ng-model="radioButtonValue" value="custom">
            <div class="lui-radiobutton__radio-wrap">
                <span class="lui-radiobutton__radio"></span>
                <span class="lui-radiobutton__radio-text">Use Custom Server...</span>
            </div>
        </label>
        <input class="lui-input" ng-show="radioButtonValue == 'custom'" ng-model="URL" ng-change="urlChange()"></input>
        <i><font ng-show="radioButtonValue == 'custom'" color="{{urlStatusColour}}" id="customUrlStatus">{{customURLStatus}}</font></i>
    </div>
    <div class="lui-dialog__footer">
        <button class="lui-button  lui-dialog__button" ng-click="onCancelClicked()">Cancel</button>
        <button ng-class="(hasName && (radioButtonValue == 'production' ? true : hasCustomURL)) ? 'lui-button  lui-dialog__button' : 'lui-button lui-disabled'" ng-click="showLogin()">OK</button>
    </div>
</div>
